@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "josefin sans", sans-serif;
}

.kalk {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-size: 56px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

span,
h1 {
  user-select: none;
  cursor: default;
}

span {
  font-size: 24px;
}

.container > input,
.container > p {
  overflow: visible;
  height: 150px;
  width: 1ch;
  min-width: 1ch;
  border: none;
  border-bottom: 1px dotted grey;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.container > input:focus {
  border-bottom: 1px solid black;
}

.container > p {
  margin-top: -50px;
  border: none;
}

.number:focus,
.error:focus {
  outline: none;
}

.error {
  color: rgb(211, 24, 24);
}

.fd-column {
  flex-direction: column;
}

.inactive {
  opacity: 0.33;
}
